<% if Postage.api_key.blank? || Postage.api_key == 'ENTER YOUR API KEY HERE' %>
  <p class="warning">
    Before sending a message you'll need to add your API key to  config/initializers/postage.rb 
    <br/>and restart your server.</p>
<% else %>
  <p>Your API key is: <span class="api_key"><%= Postage.api_key %></span></p>
<% end %>

