<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'style' %>
    <title>Ruby on Rails 2 Example Application for PostageApp</title>
  </head>
  
  <body>
    <div class='body_wrapper'>
      <h1> 
        Ruby on Rails 2 Example Application for PostageApp
      </h1>
      
      <%= yield %>
      
      <ul>
        <li><a href='http://postageapp.com'>PostageApp</a></li>
        <li><a href='http://github.com/theworkinggroup/postageapp-gem'>PostageApp Ruby Gem</a></li>
        <li><a href='http://help.postageapp.com'>PostageApp Help Portal</a></li>
      </ul>
    </div>
  </body>
</html>